

    <div class="container-fluid">
      <div class="row-fluid">
          <div class="sidebar-nav span3">
              <ul class="nav nav-tabs nav-stacked">
                  <% (:sidebar pagedata)%>
              </ul>
          </div><!--/span-->

        <div class="span9">
          <div class="hero-unit">
					 <p align="center"><h2>Clojure Source</h2></p>
              <p> <h4>A Clojure Open Source Project Information Tool</h4></p>
              <hr/>
            <p>Fork Project source code from: <a href="https://github.com/sougatabh/clojuresource">here.</a><br>
            Twitter <a href="http://twitter.com/sougatabh">@sougatabh</a>.
            </p>
            <br><br><br><br><br><br>

          </div>
          </div><!--/row-->
          </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Sougata Bhattacharya 2013</p>
      </footer>

    </div><!--/.fluid-container-->
      <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap-modal.js"></script>
    
  </body>
</html>
