
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
			<% (:sidebar pagedata)%>
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
              
		 	        <form class="form-horizontal" action='/forgotpasswordlink'  method='post'>
                  <fieldset>
                  
                      <legend>Forgot Password</legend>
                      
                      <div class="control-group">
                          <label class="control-label">Email</label>
                          <div class="controls">
                            <input type="text" class="input-xlarge" autocomplete="off" name="email" value="">
                          </div>
                      </div>
                      
                      <div class="control-group">
                          <label class="control-label"></label>
                          <div class="controls">
                              <button type="submit" class="btn btn-success" >submit</button>
                              <button type="submit" class="btn btn-inverse" >cancel</button>
                          </div>
                      </div>
                  </fieldset>
                </form>
                
            
          </div>
          </div><!--/row-->
          </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Sougata Bhattacharya 2013</p>
      </footer>

    </div><!--/.fluid-container-->
      <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://localhost:3000/assets/js/jquery.js"></script>
    <script src="http://localhost:3000/assets/js/bootstrap-modal.js"></script>
    
  </body>
</html>
