
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="sidebar-nav span3">
        <ul class="nav nav-tabs nav-stacked">
			     <% (:sidebar pagedata)%>
        </ul>
        </div><!--/span-->
        <div class="span8 col-lg-4">


            <% (for-each [each-project (:latestproject pagedata)] 
            
            	(str "<div class=\"panel panel-info\">" "<div class=\"panel-heading project-heading\"><h3>" (:name each-project) "</h3></div>" "<div class=project-content><div class=panel-body>"
    (:description each-project)"</div>" "<a href=" (:homepage each-project) " >Go to "
    (:name each-project)"</a>" "</div></div></div>"))%>
            

            
          </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
       <p>&copy; Sougata Bhattacharya 2013</p>
      </footer>
      
      
    
   
    </div><!--/.fluid-container-->
      <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>
