
    <div class="container-fluid">
      <div class="row-fluid">
      <div class="sidebar-nav span3">
        <ul class="nav nav-tabs nav-stacked">
           <% (:sidebar pagedata)%>
        </ul>
        </div>
        <div class="span8 col-lg-4">
                    <%(:projects pagedata)%>

         </div><!--/span-->

      </div><!--/row-->



      <hr>

      <footer>
       <p>&copy; Sougata Bhattacharya 2013</p>
      </footer>
      
      
    
   

    </div><!--/.fluid-container-->
      <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://localhost:3000/assets/js/jquery.js"></script>
    <script src="http://localhost:3000/assets/js/bootstrap-modal.js"></script>
    
  </body>
</html>
