<script type="text/javascript">
        $(document).ready(function () {
         
         $('#resetpassword').validate({
            rules: {
            rconfirmpassword: {
              equalTo: '#rpassword'
            }
        },
        messages: {
            rconfirmpassword: {
            equalTo: "Confirm Password Should match to Password"
            
          }
        },
        highlight: function (element) {
            $(element).closest('.control-group').removeClass('success').addClass('error');
        },
        success: function (element) {
            element.text('OK!').addClass('valid')
                .closest('.control-group').removeClass('error').addClass('success');
        }
        
      
    });

});
    </script>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
			<% (:sidebar pagedata)%>
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
              <font color="red"><%(:message pagedata)%></font>
		 	        <form class="form-horizontal" id="resetpassword" action='/resetpassword'  method='post'>
                  <fieldset>
                      <input type="hidden" name="email" value="<%(:email pagedata)%>">
                      <legend>Reset Password</legend>
                      
                      <div class="control-group">
                          <label class="control-label">Password</label>
                          <div class="controls">
                            <input type="password" id="rpassword" class="input-xlarge" name="rpassword" 
                            value="">
                          </div>
                      </div>
                      <div class="control-group">
                          <label class="control-label">Confirm Password</label>
                          <div class="controls">
                            <input type="password" id="rconfirmpassword" class="input-xlarge" 
                            name="rconfirmpassword" value="">
                          </div>
                      </div>
                      
                      <div class="control-group">
                          <label class="control-label"></label>
                          <div class="controls">
                              <button type="submit" class="btn btn-success" >submit</button>
                              <button type="submit" class="btn btn-inverse" >cancel</button>
                          </div>
                      </div>
                  </fieldset>
                </form>
                
            
          </div>
          </div><!--/row-->
          </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
       <p>&copy; Sougata Bhattacharya 2013</p>
      </footer>

    </div><!--/.fluid-container-->
      <!-- Le javascript
    ================================================== -->
    
  </body>
</html>
